body {
    background: #000;
    font-family: 'Times New Roman';
    color: #fff;
}

h1 {
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'High Tower Text';
}
h2 {
    font-size: 33px;
    color: #fff;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}
projectTitle {
    font-size: 33px;
    letter-spacing: 2px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
}


