<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="/assets/header.css" rel="stylesheet" type="text/css" />
	

</head>



<body>
	<% include navigation.ejs %>  <%# comment %>

    <b><h2> Contact: </h2></b> <p></p>
    <p></p>
	<h3>Email: william.sati@mail.utoronto.ca 	</h3> <p></p>
	<h3>Phone:  647-504-9988	</h3> <p></p>
	<h3><a href="https://ca.linkedin.com/in/williamsati" target="_blank">LinkedIn </a> </h3> <p></p>
	<h3><a href="https://github.com/WilliamSati" target="_blank">Github </a> </h3> <p></p>





</body>
</html>