<div class="footer">
  <div class="logoContainer">
    <a href="https://github.com/WilliamSati" target="_blank"><img class="logo" src="assets/images/githubLogo.png"></a>
    <a href="https://ca.linkedin.com/in/williamsati" target="_blank"><img class="logo" src="assets/images/linkedInLogo.png"></a>
    <a href="mailto:william.sati@mail.utoronto.ca" target="_blank"><img class="logo" style="height:40px; margin-bottom:5px;" src="assets/images/emailLogo.png"></a>
  </div>
</div>
