<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link href="/assets/header.css" rel="stylesheet" type="text/css" />

	<title> William Sati</title> 
    <meta name="keywords" content="William, Sati, William Sati, william sati.com, website, rowing, UofT, athlete, athletics, University of Toronto, Don, Rowing, Club, famille, sainte"  />
    <meta name="description" content="I am currently studying computer engineering at the University of Toronto. I love learning how computers work and building
		things with them. I've had experience with C, C++, Node.js, verilog, and I'm always looking to learn more! " />

	<style>

	
   div.paddingUp {
			padding: 10px;
		}
   div.paddingUpLarge {
			padding: 160px;
		}
	div.paddingLeft {
			padding-left: 250px;
	}
	div.centered{
		 text-align: center;
	}
	div.centeredAndJustified{
		 text-align: justified;
		 margin-left: 200px;
		 margin-right: 200px;
	}
	

	</style>

</head>

<body>
    <% include navigation.ejs %>
	
	<div class="paddingUp">
	</div>

	<div class="centered">
		<h2>About Me</h2>
	</div>

	<div class="centeredAndJustified">
		<p></p>
		<p></p>

		<h4>I am currently studying computer engineering at the University of Toronto. I love learning how computers work and building
		things with them. I've had experience with C, C++, Node.js, verilog, and I'm always looking to learn more! <p></p> </h4>
	</div>
	

	<div class="centered">
		<img src="assets/profilepic.png" alt="Profile Picture" align="center" height="500" width="500">
	</div>

	<div class="centeredAndJustified">
	
		<h4>
		I am also a rower. In the past, I've raced at an international event called CanAmMex representing Canada, many national events such as the Canadian University 
		Championships, the Canadian Speed Orders and the Canadian Henley.  My acheivements in rowing include:<p></p>
		<li>2016 - 2nd - CanAmMex, Lightweight Men's double </li>
		<li>2016 - 2nd - CSSRA, men 1x </li>
		<li>2017 - 5th - Canadian University Championships, men LWT 1x </li>
		<li>2018 - 4th - Canadian University Championships, men LWT 1x </li>
		<li>2018 - 4th - Canadian Speed ordrs, u21 lightweight. </li>
		</h4>
	</div>

	<div class="centered">
		<img src="assets/rowing.jpg" alt="rowing picture" align="center" height="500" width="500">
	</div>

</body>

