
<head>
	<link href="/assets/header.css" rel="stylesheet" type="text/css" /> <%# will trigger a handler that handles the request for assets/header.css %>
	<%# we don't have a handler specifically for requests to static files, although we could have one(lots of work). Instead, we use a built in express handler for static files (see server.js line 6) %>
  
</head>

<body>

    <h1>William Sati </h1> <p></p> <p></p>

<nav> 
<div style = "text-align: center">
    <h3>  <a href="https://williamsati.com/projects" >Projects </a> &nbsp &nbsp   &nbsp &nbsp &nbsp &nbsp 
	<a href="https://williamsati.com/home" >home </a>   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   
	<a href="https://williamsati.com/contact" >contact </a> </h3> 
	</div>
</nav>

<p></p>
<p></p>

<p></p>

</body>
