<!DOCTYPE html>
<html>

  <head>

    <!-- materializeCSS -->
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    <!-- my own css files -->
      <link href="assets/css/projects.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/sidenav.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/footer.css" rel="stylesheet" type="text/css" />
    <!-- parallax -->
      <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <!-- icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>

		<a href="#" data-target="slide-out" class="sidenav-trigger" style="position: fixed; color:black;"><i class="medium material-icons">menu</i></a>
		<%- include sidenav.ejs %>

    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/laptopnotebook.jpg">
    </div>

    <div class="pageTitleContainer">
        <h1 class="pageTitle"><strong> Projects </strong></h1>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/logoclassasker.png">
    </div>

    <div class="projectCard">
      <div class="projectTitle">
        <h4><strong><a style="color:black;" target="_blank" href="https://classasker.com"> ClassAsker.com <img src="assets/images/newtab.jpg" style="width:15px; height:15px; position: relative; left:-10px; top:-10px;"></a><strong><h4>
      </div>
      <div class="projectImageAndOutcomes">
        <img class="projectImage dynamicImage" src="assets\images\logoclassasker.png">

        <div class="projectOutcomes">
          <ol>
            <li><p class="dynamicList"> Used Google's firebase database to store class questions and votes.</p> </li>
            <li><p class="dynamicList"> Created javascript functions to update the database when a user submits a question or votes.</p> </li>
            <li><p class="dynamicList"> Created javascript cloud functions to update the list of questions the user sees in real-time. </p></li>
            <li><p class="dynamicList"> Made use of the firebase authentification service to keep all user account information.</p> </li>
          </ol>
        </div>
      </div>
      <hr>
      <div class="projectDescription">
        <p class="dynamicDescription"> The goal of classAsker is to help students post their questions and support each other's questions during
          a lecture in hopes of increasing student-feedback to the professors. ClassAsker is a web-app that enables students to anonymously post the
          questions they have during lecture to a list that only their class can see. Students are then able to upvote the questions they want to see answered.
          The questions with the most votes get sorted to the top of the list in real-time for everyone to see.</p>
      </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/firstResponseblue.png">
    </div>

    <div class="projectCard">
      <div class="projectTitle">
        <h4><strong> First Response (Personalized school project) <strong><h4>
      </div>
      <div class="projectImageAndOutcomes">

        <iframe allowfullscreen="allowfullscreen" class="projectImage dynamicImage" src="https://www.youtube.com/embed/enUvFSaLAJU?controls=1">
    		</iframe>

        <div class="projectOutcomes">
          <ol>
            <li><p class="dynamicList"> Created an API in C++ to interact with the OpenStreetMap database</p> </li>
            <li><p class="dynamicList"> Created search, route planning and fastest path functionalities</p></li>
            <li><p class="dynamicList"> Created a User Interface using GTK to interact with functionalities </p></li>
            <li><p class="dynamicList"> Worked in a team of three.</p></li>
            <li><p class="dynamicList"> Received a grade of 83 on the project </p></li>
          </ol>
        </div>
      </div>
      <hr>
      <div class="projectDescription">
        <p class="dynamicDescription"> In a class at the University of Toronto, we had four months to build some type of geographic information system (GIS). When talking to a friend, we discovered that
          paramedics in Ottawa don't have access to a GIS with path-finding functionality, so we decided to build one for them. The find-path functionality always finds the fastest path in less than half
          a second in any city and provides visual as well as written directions to the destination.</p>
      </div>
    </div>


    <div style="height:100px;">
      <h4 style="position:relative; top:50px; margin-left: 5%;"><strong> Other Projects <strong><h4>
    </div>

    <div class="myCarousel">
        <a class="myCarouselItem" style="display:none;" id="boatSimulator" href="#"><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/GRIwTppGgKU?controls=1">	</iframe></a>
        <a class="myCarouselItem" style="display:none;" id="dodgeBlock" href="#"><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/E3FBOgJ9I-4?controls=1">	</iframe></a>
        <a class="myCarouselItem" style="display:none;" id="asteroidShooter" href="#"><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/JNg7ZtZAtX4?controls=1">	</iframe></a>
    </div>
    <div class="carouselControls">
      <a style="display:inline-block;" id="buttonPrev" class="waves-effect waves-light btn">Previous</a>
      <div style="display:inline-block; width:222px;"></div>
      <a style="display:inline-block;" id="buttonNext" class="waves-effect waves-light btn">Next</a>
    </div>
    <div id="carouselDescription" class="dynamicDescription">
    </div>

    <div style="height:100px;">
    </div>


		<%- include footer.ejs %>


  </body>

  <!-- my own javascript file -->
    <script src="assets/javascript/projects.js"></script>

</html>
