<!DOCTYPE html>
<html>

  <head>

    <!-- materializeCSS -->
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    <!-- my own css files -->
      <link href="assets/css/projects.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/sidenav.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/footer.css" rel="stylesheet" type="text/css" />
    <!-- parallax -->
      <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <!-- icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>

		<a href="#" data-target="slide-out" class="sidenav-trigger" style="position: fixed; color:black;"><i class="medium material-icons">menu</i></a>
		<%- include sidenav.ejs %>

    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/laptopnotebook.jpg">
    </div>

    <div class="pageTitleContainer">
        <h1 class="pageTitle"><strong> Projects </strong></h1>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/Poetify.png">
    </div>

    <div class="projectCard">
      <div class="projectTitle">
        <h4><strong> Poetify <strong><h4>
        </div>
      <div class="projectImageAndOutcomes">
        <iframe allowfullscreen="allowfullscreen" class="projectImage dynamicImage" src="https://www.youtube.com/embed/3ct_L_gXvRs?controls=1">
        </iframe>

        <div class="projectOutcomes">
          <ol>
            <li><p class="dynamicList"> Fine-tuned T5 and GPT2 transformer networks to be able to summarize reviews then expand them into poems.</p> </li>
            <li><p class="dynamicList"> Used Python with Pandas, NumPy and PyTorch to clean and pre-process large text-based datasets.</p> </li>
            <li><p class="dynamicList"> Created a web-app to host the project at <a target="_blank" href="https://poetify.anvil.app">poetify.anvil.app</a> (Only available on request).</p></li>
            <li><p class="dynamicList">	Received a 95% on project presentation and 85% on the final report.</p> </li>
          </ol>
        </div>
      </div>
      <hr>
      <div class="projectDescription">
        <p class="dynamicDescription"> Poetify is a machine learning system capable of taking in a review such as a yelp review 
          or an amazon review and outputting a poem related to that review. Ideally, the poem will retain the general topic as is
          addressed in the review and will keep the same sentiment towards what is being reviewed.</p>
      </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/logoclassasker.png">
    </div>

    <div class="projectCard">
      <div class="projectTitle">
        <h4><strong><a style="color:black;" target="_blank" href="https://classasker.com"> ClassAsker.com <img src="assets/images/newtab.jpg" style="width:15px; height:15px; position: relative; left:-10px; top:-10px;"></a><strong><h4>
      </div>
      <div class="projectImageAndOutcomes">
        <iframe allowfullscreen="allowfullscreen" class="projectImage dynamicImage" src="https://www.youtube.com/embed/Kqua1W7Ognc?controls=1">
        </iframe>

        <div class="projectOutcomes">
          <ol>
            <li><p class="dynamicList"> Stored class questions and votes in a database and updated it in real-time using cloud functions.</p> </li>
            <li><p class="dynamicList"> Managed the look of the front-end using HTML and CSS and used JavaScript to manage the interactivity.</p> </li>
            <li><p class="dynamicList"> Created the backend using Node.js and Firebase.  </p></li>
            <li><p class="dynamicList">	Pitched the product to professors and received a job offer to build a new feedback tool for assignments.</p> </li>
          </ol>
        </div>
      </div>
      <hr>
      <div class="projectDescription">
        <p class="dynamicDescription"> The goal of classAsker is to help students post their questions and support each other's questions during
          a lecture in hopes of increasing student-feedback to the professors. ClassAsker is a web-app that enables students to anonymously post the
          questions they have during lecture to a list that only their class can see. Students are then able to upvote the questions they want to see answered.
          The questions with the most votes get sorted to the top of the list in real-time for everyone to see.</p>
      </div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/firstResponseblue.png">
    </div>

    <div class="projectCard">
      <div class="projectTitle">
        <h4><strong> First Response (Personalized school project) <strong><h4>
      </div>
      <div class="projectImageAndOutcomes">

        <iframe allowfullscreen="allowfullscreen" class="projectImage dynamicImage" src="https://www.youtube.com/embed/enUvFSaLAJU?controls=1">
    		</iframe>

        <div class="projectOutcomes">
          <ol>
            <li><p class="dynamicList"> Created an API in C++ to interact with the OpenStreetMap database</p> </li>
            <li><p class="dynamicList"> Created search, route planning and fastest path functionalities using A* algorithm.</p></li>
            <li><p class="dynamicList"> Used multithreading to increase performance.</p></li>
            <li><p class="dynamicList"> Created Graphics and a User Interface to interact with the various functionalities.</p></li>
            <li><p class="dynamicList">	Worked in a team of three and used Git to manage code.</p></li>
            <li><p class="dynamicList"> Received a grade of 83 on the project </p></li>
          </ol>
        </div>
      </div>
      <hr>
      <div class="projectDescription">
        <p class="dynamicDescription"> In a class at the University of Toronto, we had four months to build some type of geographic information system (GIS). When talking to a friend, we discovered that
          paramedics in Ottawa don't have access to a GIS with path-finding functionality, so we decided to build one for them. The find-path functionality always finds the fastest path in less than half
          a second in any city and provides visual as well as written directions to the destination.</p>
      </div>
    </div>


    <div style="height:100px;">
      <h4 style="position:relative; top:50px; margin-left: 5%;"><strong> Other Projects <strong><h4>
    </div>

    <div class="myCarousel">
        <a class="myCarouselItem" style="display:none;" id="boatSimulator" href="#"><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/GRIwTppGgKU?controls=1">	</iframe></a>
        <a class="myCarouselItem" style="display:none;" id="dodgeBlock" href="#"><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/E3FBOgJ9I-4?controls=1">	</iframe></a>
        <a class="myCarouselItem" style="display:none;" id="asteroidShooter" href="#"><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/JNg7ZtZAtX4?controls=1">	</iframe></a>
    </div>
    <div class="carouselControls">
      <a style="display:inline-block;" id="buttonPrev" class="waves-effect waves-light btn">Previous</a>
      <div style="display:inline-block; width:222px;"></div>
      <a style="display:inline-block;" id="buttonNext" class="waves-effect waves-light btn">Next</a>
    </div>
    <div id="carouselDescription" class="dynamicDescription">
    </div>

    <div style="height:100px;">
    </div>


		<%- include footer.ejs %>


  </body>

  <!-- my own javascript file -->
    <script src="assets/javascript/projects.js"></script>

</html>
