 <ul id="slide-out" class="sidenav">
   <li><div class="user-view">
     <a href="#user"><img class="profilepic" src="assets/images/profilepic.png"></a>
     <a href="#name"><span class="myName">William Sati</span></a>
     <span class="myEmail"><a href="mailto:william.sati@mail.utoronto.ca" target="_blank">william.sati@mail.utoronto.ca</a></span>
   </div></li>
   <li><div style="margin-top:-8px;" class="divider"></div></li>
     <li><a style="margin-top:8px;" href="http://williamsati.com/aboutme">About Me</a></li>
     <li><div class="divider"></div></li>
     <li><a style="margin-top:8px;" href="http://williamsati.com/projects">Projects</a></li>
     <li><div class="divider"></div></li>
     <li><a style="margin-top:8px;" href="http://williamsati.com/experience">Experience</a></li>
     <li><div class="divider"></div></li>
 </ul>
